.titre-principal,
.texte-principal {
    text-align: center;
    padding: 20px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);

}

.texte-principal {
    padding: 20px;
    margin: 0 auto;
    width: 85%;
    font-weight: 600;
}